@inject IJSRuntime JSRuntime

<button type="button" @onclick="ScrollToTop" id="backToTopButton" class="back-to-top" title="Back To Top">
    <IconComponent IconName="BootstrapIcon.ArrowUp" Size="icon-e-medium" />
</button>

@code {
    private async Task ScrollToTop()
    {
        await JSRuntime.InvokeVoidAsync("scrollToTopSmooth");
    }
}