@page "/"

<PageTitle>Home</PageTitle>

<div id="home">

    <section id="lead">
        <div>
            <h3 class="lead-tittle-sec">Olá, meu nome é</h3>
            <h1 class="lead-tittle-pri">Humberto Guedes</h1>
            <h3 class="lead-tittle-sec">Sou um engenheiro de software</h3>
        </div>

        <div class="lead-contact">
            <a class="contact-icon " href="mailto:fhumberto.trab@hotmail.com" title="Email">
                <IconComponent IconName="BootstrapIcon.EnvelopeFill" Size="icon-small" />
            </a>
            <a class="contact-icon" href="https://www.linkedin.com/in/fhumberto" title="LinkedIn" target=" _blank">
                <IconComponent IconName="DeviconPlain.Linkedin" Size="icon-small" />
            </a>
            <a class="contact-icon" href="https://github.com/FHumberto" title="GithubProfile" target="_blank">
                <IconComponent IconName="BootstrapIcon.Github" Size="icon-small" />
            </a>
            <a class="contact-icon" href="https://github.com/FHumberto/FHumberto/raw/main/src/doc/Curriculo.pdf"
               title="CurriculumVitae" target="_blank">
                <IconComponent IconName="BootstrapIcon.PersonBadge" Size="icon-small" />
            </a>
        </div>
    </section>

</div>
