:root
{
    --font-monospace: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --body-background: rgb(31, 29, 29);
    --topbar-background: rgba(0, 0, 0, 0.4);
    --topbar-background-sec: rgb(51, 51, 51);
    --button-color-background: rgba(255, 255, 255, 0.1);
    --button-color-border: rgba(255, 255, 255, 0.1);
    --text-color: rgb(255, 255, 255);
    --text-color-sec: rgb(0, 0, 0);
    --link-color: rgb(148, 14, 40);
    --strong-color: rgb(221, 72, 101);
    --icon-color-background: rgb(53, 49, 49);
    --point-color-background: rgb(38, 41, 44);
    --grid-color-card-background: rgb(38, 38, 38);
    --border-color: rgb(0, 0, 0);
    --border-radius: 0.5rem;
    --transition-fadeInOut: opacity 0.5s ease-in-out;
    --transition-fadeInOut-color: background-color 0.5s ease-in-out;
}

*
{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    list-style-type: none;
    text-decoration: none;
}

body
{
    background-color: var(--body-background);
    line-height: 1.3;
}


a
{
    color: var(--text-color);
}

    a:hover
    {
        transition: 0.5s;
        color: var(--link-color);
    }

strong
{
    color: var(--strong-color)
}

img
{
    border-radius: var(--border-radius);
}

h2
{
    font-size: clamp(1.5rem, 3.5vw, 2rem);
}

h3
{
    font-size: clamp(1.2rem, 3.5vw, 1.5rem);
}

p, i, span
{
    font-size: 0.95rem;
}

p
{
    text-align: justify;
}

.subSection
{
    color: var(--strong-color)
}

.tooltip-container
{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 0.8rem;
}

    .tooltip-container::before
    {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
        border-radius: 5px;
        background-color: #333;
        padding: 5px 10px;
        content: attr(data-tooltip);
        color: #fff;
        white-space: nowrap;
    }

    .tooltip-container:hover::before
    {
        visibility: visible;
        opacity: 0.9;
    }


.section
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    text-align: center;
    }

.fade-in
{
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

    .fade-in.visible
    {
        opacity: 1;
    }